

{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="row">
  <div class="col-md-10 offset-md-10" style="padding-top: 20px;">
    <a href="{% url 'add_books' %}"><button type="button" class="btn btn-success"><i class="fas fa-plus-circle">Add New Book</i></button></a>
</div>
</div>
  <br/>
  <br/>
<div class="row">
<table class="table" >
    <thead>
      <tr>
        <th>Book ID</th>
        <th>Book Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Genre</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for book in book_list %}
      <tr>
        <td>{{ book.book_id }}</td>
        <td>{{ book.book_name }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.type }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <a href="{% url 'update_book' book.book_id %}">
            <button type="button" class="btn btn-primary">Change</button>
          </a>

        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
{% endblock %}
