{% extends 'student/base.html' %}
{% load static %}
{% block body %}
<section id="mu-slider" class="slick-initialized slick-slider">
    <!-- Start single slider item -->
    <div aria-live="polite" class="slick-list draggable">
        <div class="slick-track" role="listbox" style="opacity: 1; width: 7595px; left: -4557px;">
            <div class="mu-slider-single slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 1519px;">
                <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'assets/img/img.jpg' %}" alt="img">
                    </figure>
                </div>
                <div class="mu-slider-content">
                    <h2>Welcome to Islington College Library</h2>
                    <a href="#" class="mu-read-more-btn" tabindex="-1">Read More</a>
                </div>
            </div>
            <div class="mu-slider-single slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 1519px;">
                <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'assets/img/img.jpg' %}" alt="img">
                    </figure>
                </div>
                <div class="mu-slider-content">
                    <h2>Welcome to Islington College Library</h2>
                    <a href="#" class="mu-read-more-btn" tabindex="-1">Read More</a>
                </div>
            </div>
            <div class="mu-slider-single slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 1519px;">
                <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'assets/img/img.jpg' %}" alt="img">
                    </figure>
                </div>
                <div class="mu-slider-content">
                    <h2>Welcome to Islington College Library</h2>
                    <a href="#" class="mu-read-more-btn" tabindex="-1">Read More</a>
                </div>
            </div>
            <div class="mu-slider-single slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 1519px;">
                <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'assets/img/img.jpg' %}" alt="img">
                    </figure>
                </div>
                <div class="mu-slider-content">
                    <h2>Welcome to</h2>
                        <h2>Islington
                        College Library</h2>


                </div>
            </div>
            <div class="mu-slider-single slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 1519px;">
            <div class="mu-slider-img">
                    <figure>
                        <img src="{% static 'assets/img/img.jpg' %}" alt="img">
                    </figure>
                </div>
                <div class="mu-slider-content">
                    <h2>Welcome to Islington College Library</h2>
                    <a href="#" class="mu-read-more-btn" tabindex="-1">Read More</a>
                </div>
        </div>
        </div>
    </div>
    <!-- Start single slider item -->
    <!-- Start single slider item -->

    <!-- Start single slider item -->
    <!-- Start single slider item -->

    <!-- Start single slider item -->
</section>

{% endblock %}