{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row" style="padding-top: 20px; float: right; margin-right: 0px">
        <a href="{% url 'add_faculty' %}"><button type="button" class="btn btn-outline-dark"><i class="fas fa-plus-circle"> Add New Faculty</i></button></a>
    </div>

    <br/>
    <br/>
  <br/>
  <br/>
  <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Author Table</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                  <th>Faculty ID</th>
                  <th>Faculty Name</th>
                  <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for faculties in faculty %}
              <tr>
                <td>{{ faculties.f_id }}</td>
                <td>{{ faculties.f_name }}</td>
                  <td>
                  <a href="{% url 'update_faculty' faculties.f_id %}">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                  </a>

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <!--<div class="row">
        <table class="table">
            <thead>
              <tr>

              </tr>
            </thead>
            <tbody>
              {% for faculties in faculty %}
              <tr>
                <td>{{ faculties.f_id }}</td>
                <td>{{ faculties.f_name }}</td>
                  <td>
                  <a href="{% url 'update_faculty' faculties.f_id %}">
                    <button type="button" class="btn btn-outline-primary">Change</button>
                  </a>

                </td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>-->
</div>
{% endblock %}