{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block scripts %}


{% endblock %}

{% block body %}

<div class="container" style="padding-top: 30px">
    <div class="row">
        <div class="col-md-3"></div>
<form method="post" class="col-md-6">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4" style="text-align: center">Enter Faculty Details</legend>
    {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary" style="margin-left: 230px; width: 120px;">
            <i class="fas fa-save"> Save</i>
        </button>

    </div>
</form>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

                {% if faculties %}
                    <a href="{% url 'delete_faculty' faculties.f_id %}">
                        <button class="btn btn-outline-danger" style="margin-left: 135px; width: 120px;">
                            <i class="fas fa-trash"> Delete</i>
                        </button>
                    </a>
                {% endif %}

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


{% endblock %}